footer.section-outer
  div.footer__inner
    div.subscribe
      div.subscribe__cardWhy
        img(alt="", src="images/footer-flower1.png")
        span.subscribe__background
        div.subscribe__title Garden Care
        div.subscribe__paragraf We are an online plant shop offering a wide range of cheap and trendy plants.
      div.subscribe__cardWhy
        img(alt="", src="images/footer-flower2.png")
        span.subscribe__background
        div.subscribe__title Garden Care
        div.subscribe__paragraf We are an online plant shop offering a wide range of cheap and trendy plants. 
      div.subscribe__cardWhy
        img(alt="", src="images/footer-flower3.png")
        span.subscribe__background
        div.subscribe__title Garden Care
        div.subscribe__paragraf We are an online plant shop offering a wide range of cheap and trendy plants. 
      div.subscribe__form-wrapper
        div.form-subscribe__title Would you like to join newsletters?
        form.form-subscribe(action="text") 
          input.form-subscribe__input(type="email" placeholder="enter your email address...")
          button.form-subscribe__btn Join
        div.form-subscribe__text We usually post offers and challenges in newsletter. We`re <br> your online houseplant destination. We offer a wide range of houseplants and accessories shipped directly from our (green)house to yours! 
    div.our-contacts
      div.our-contacts__card-wrapper
        svg.svg__logo
            use(xlink:href="images/icons/icons.svg#logo") 
      div.our-contacts__card-wrapper
        svg.svg__location
          use(xlink:href="images/icons/icons.svg#location")
        div.our-contacts__text 70 West Buckingham Ave.Farmingdale, NY 11735
      div.our-contacts__card-wrapper
        svg.svg__accept
          use(xlink:href="images/icons/icons.svg#accept")  
        div.our-contacts__text contactgreenshop.com
      div.our-contacts__card-wrapper 
        svg.svg__call
          use(xlink:href="images/icons/icons.svg#call")
        div.our-contacts__text +88 01911 717 490 
    div.footer-menu
      div
        ul.footer-menu__list
          li
            .footer-menu__title(href="") My Account
          li
            a.footer-menu__href(href="") My acc
          li
            a.footer-menu__href(href="") Our stores
          li 
            a.footer-menu__href(href="") Contact us
          li 
            a.footer-menu__href(href="") Career
          li 
            a.footer-menu__href(href="") Specials
      
      div
        ul.footer-menu__list 
          li
            .footer-menu__title(href="") Help and Guide
          li 
            a.footer-menu__href(href="") How to Buy
          li 
            a.footer-menu__href(href="") Shipping and Delivery
          li 
            a.footer-menu__href(href="") Prod policy
          li
            a.footer-menu__href(href="") how to return
      div
        ul.footer-menu__list 
          li  
            .footer-menu__title(href="") House plants
          li  
            a.footer-menu__href(href="") Potter plants
          li  
            a.footer-menu__href(href="") Seeds
          li  
            a.footer-menu__href(href="") Small plants
          li  
            a.footer-menu__href(href="") Accessories
      div 
        div.footer-menu__socials-and-pay 
          div.footer-menu__title Social Media
          div.footer-menu__socials
            a.footer-menu__social-wrapper(alt="Запрещено в России" href="")
              svg.svg__facebook
                use(xlink:href="images/icons/icons.svg#Facebook") 
            a.footer-menu__social-wrapper(alt="Запрещено в России" href="")
              svg.svg__instagram
                use(xlink:href="images/icons/icons.svg#Instagram") 
            a.footer-menu__social-wrapper(alt="Запрещено в России" href="")
              svg.svg__twitter
                use(xlink:href="images/icons/icons.svg#Twitter")
            a.footer-menu__social-wrapper(alt="Запрещено в России" href="")
              svg.svg__linkedIn
                use(xlink:href="images/icons/icons.svg#Linkedin")
            a.footer-menu__social-wrapper(alt="Запрещено в России" href="")
              svg.svg__union
                use(xlink:href="images/icons/icons.svg#Union")
        div.footer-menu__socials-and-pay 
          div.footer-menu__title We accept
          img(src="images/payment-system.png")
    div.copyright-wrapper
      div © 2021 GreenShop. All Rights Reserved.
