header.section-outer.section-header
    .section-header__inner
      a.logo(href="#")
        svg.svg__logo
          use(xlink:href="images/icons/icons.svg#logo")
      nav.menu
        ul.menu__list
          li.menu__list-item
            a.menu__list-link.active__link(href="#") Home
          li.menu__list-item
            a.menu__list-link(href="#") Shop
          li.menu__list-item
            a.menu__list-link(href="#") Plant Care
          li.menu__list-item 
            a.menu__list-link(href="#") Blogs
      .icons
        svg.svg__search
          use(xlink:href="images/icons/icons.svg#search")
        svg.svg__market-cart
          use(xlink:href="images/icons/icons.svg#market-cart")
        span.icons__countOnMarketCart 17
        button.primary-btn
          svg.svg__login
            use(xlink:href="images/icons/icons.svg#login")
          .primary-btn__text Login
            
        



