section.section-outer.shop
  .shop__inner
    .filter-list
      .category
        .category__title Categories
        .category__wrapper
          .category__item House Plants
          .category__count (33) 
        .category__wrapper
          .category__item Potter Plants
          .category__count (12) 
        .category__wrapper
          .category__item Seeds
          .category__count (65) 
        .category__wrapper
          .category__item Small Plants
          .category__count (39) 
        .category__wrapper
          .category__item Big Plants
          .category__count (22) 
        .category__wrapper
          .category__item Succulents
          .category__count (22) 
        .category__wrapper
          .category__item Trerrariums
          .category__count (22) 
        .category__wrapper
          .category__item Gardering
          .category__count (22)
        .category__wrapper
          .category__item Accessories
          .category__count (22)
      .price-range
        .category__title Price range
        span
        input.price-range__input(type="range" min="1" max="1500" value="30"  id="#price")
        div Price:
        span
        button.primary-btn Filter
      div.category
        div.category__title Size
        div.category__wrapper
          .category__item Small
          .category__count (119)
        div.category__wrapper
          .category__item Medium
          .category__count (86)
        div.category__wrapper
          .category__item Large
          .category__count (78)
      div
        //- img(alt="" src="images/SuperSaleBanner.png")
    div.showcase__wrapper
      .showcase__sorting-wrapper
        div
          div All plants
          div New Arrivals
          div Sale
        div.showcase__sorting
          div Short by:  Default sorting
          span
      div.showcase__slots-wrapper
        .slot__wrapper
          img.slot__image(alt="", src="images/content/image1.png")
          .slot__name Barberton Daisy
          .slot__cost $217.00
        .slot__wrapper
          img.slot__image(alt="", src="images/content/image2.png")
          .slot__name Angel Wing Begonia
          .slot__cost $37.00
        .slot__wrapper
          img.slot__image(alt="", src="images/content/image3.png")
          .slot__name African Violet
          .slot__cost $52.00
          span.slot__sale $52.00
          span.slot__card-sale 13% OFF
      div.showcase__slots-wrapper
        .slot__wrapper
          img.slot__image(alt="" src="images/content/image4.png")
          .slot__name Beach Spider Lily
          .slot__cost $217.00
        .slot__wrapper
          img.slot__image(alt="" src="images/content/image5.png")
          .slot__name Blushing Bromeliad
          .slot__cost $137.00
        .slot__wrapper
          img.slot__image(alt="" src="images/content/image6.png")
          .slot__name Aluminum Plant
          .slot__cost $352.00
          span.slot__sale $52.00
      div.showcase__slots-wrapper
        .slot__wrapper
          img.slot__image(alt="" src="images/content/image7.png")
          .slot__name Bird's Nest Fern
          .slot__cost $217.00
        .slot__wrapper
          img.slot__image(alt="" src="images/content/image8.png")
          .slot__name Broadleaf Lady Palm
          .slot__cost $37.00
        .slot__wrapper
          img.slot__image(alt="" src="images/content/image9.png")
          .slot__name Chinese Evergreen
          .slot__cost $552.00
          span.slot__sale $52.00


