section.section-outer.product-card
  .product-card__inner
    div.card__wrapper
      div.card__content-wrapper
        h4.card__title Summer cactus !{"<br>&"} succulents
        div.card__text We are an online plant shop offering a wide range of cheap and trendy plants
        button.primary-btn Find More
          svg.svg__btn-arrow
            use(xlink:href="images/icons/icons.svg#btn-arrow")
      img.card__img(title="Цветы" alt="Цветы" src="images/content/card-flower1.png")
      img.card__img(alt="Декор-круг" src="images/circle.png")
    div.card__wrapper
      div.card__content-wrapper
        h4.card__title Summer cactus !{"<br>&"} succulents
        div.card__text We are an online plant shop offering a wide range of cheap and trendy plants
        button.primary-btn Find More
          svg.svg__btn-arrow
            use(xlink:href="images/icons/icons.svg#btn-arrow")
      img.card__img(title="Цветы" alt="Цветы" src="images/content/card-flower2.png")
      img.card__img(alt="Декор-круг" src="images/circle.png")
