
section.section-outer.page-cart
  .page-cart__nav-wrapper
    .page-cart__main-section Home / 
    .page-cart__subsection !{'&nbsp'}Shop / !{'&nbsp'}
    .page-cart__subsection Shoping Cart
  
  .page-cart__wrapper
    .page-cart__table-wrapper
      .page-cart__table-titles
        div.table-titles__prod Products
        div.table-titles__price Price
        div.table-titles__quantity Quantity
        div.table-titles__total Total
      .js-page-shoping-cart__wrapper
      
    .calculate-cost
      .calculate-cost__title Cart totals 
      div.calculate-cost__coupon-subtitle Coupon Apply
      form.calculate-cost__input-wrapper(action="text") 
        input.calculate-cost__input(type="text" placeholder="Enter coupon code here...")
        button.primary-btn Apply
      .calculate-cost__wrapper
        .calculate-cost__subtotal
          .calculate-cost__subtitle Subtotal
          .calculate-cost__price.js_calc-cost__subtotal $2,683.00
        .calculate-cost__coupon
          .calculate-cost__subtitle Coupon Discount
          .calculate-cost__price.js_calc-cost__coupon (-)$380
        .calculate-cost__shiping
          .calculate-cost__subtitle Shipping
          .calculate-cost__price.js_calc-cost__shipping $290
        a.calculate-cost__shiping-charge(href="#") View shipping charge
        .calculate-cost__total
          .calculate-cost__total-subtitle Total
          .calculate-cost__total-price.js_calc-cost__endtotal 00.00
      .calculate-cost__btn-wrapper
        button.btn__requisites-of-bank-card Proceed To Checkout
        a.calculate-cost__shoping-again(href="#")  Continue Shopping
    


