section.section-outer.showcase
  .showcase__inner
    .filter-list
      .category.js-categories
        .category__title Categories
        
      .price-range
        .category__title Price range
        input.styled-slider.slider-progress.js-input-filter-by-price(type="range" min="1" max="1000" value="1000"  id="#price")
        div.price-range__cost-wrapper
          .price-range__text Price:
          .price-range__vie-cost.js-price-range__vie-cost
        button.primary-btn.js-btn-filterByPrice Filter
      
      .sell-out-card
        img.sell-out-card__img-sale( alt="Super Sale" src="images/SuperSale.png")
        .sell-out-card__text UP TO 75% OFF
        img.sell-out-card__img-flower( alt="Super Sale" src="images/SuperSaleImg1.png")

    .showcase__wrapper
      .showcase__sorting-wrapper
        .showcase__categories.js-showcase__categories
          button.btn__category.js-btn__category-all.active__showcase-sort All plants
          button.btn__category.js-btn__category-new-arrivals New Arrivals
          button.btn__category.js-btn__category-sale Sale
        input.showcase__input(id="js-filter" type="text" class="filter" placeholder="Введите название товара")
      .showcase__slots-wrapper.js-showcase__slots-wrapper

  .pagination__wrapper
    button.pagination__item
      a.pagination__link.active__pagination(href="#") 1
    button.pagination__item
      a.pagination__link(href="#") 2
    button.pagination__item
      a.pagination__link(href="#") 3
    button.pagination__item
      a.pagination__link(href="#") 4
    button.pagination__btn
      svg.svg__pagination-arrow-right                               
        use(xlink:href="images/icons/icons.svg#pagination-arrow-right")



