section.section-outer.section-slider
  .section-slider__inner
    .slide.first-slide.active__slide
      .slide-wrapper
        div.text-wrapper
          div.text-wrapper__pre-title WELCOME TO GREENSHOP
          div.text-wrapper__title LET'S MAKE A BETTER
            span !{' '}PLANET
          p.text-wrapper__paragraf We are an online plant shop offering a wide range of cheap and trendy plants. Use our plants to create an unique Urban Jungle. Order your favorite plants!
          button.primary-btn SHOP NOW
        div.image-wrapper
          img.image-wrapper__flower(src="images/content/frontPicture.png")
          img.image-wrapper__small-flower(src="images/content/frontPicture2.png")
    .slide.second-slide
      .slide-wrapper
        div.text-wrapper
          div.text-wrapper__pre-title WELCOME TO GREENSHOP
          div.text-wrapper__title LET'S MAKE A BETTER
            span !{' '}WORLD
          p.text-wrapper__paragraf We are an online plant shop offering a wide range of cheap and trendy plants. Use our plants to create an unique Urban Jungle. Order your favorite plants!
          button.primary-btn SHOP NOW
        div.image-wrapper
          img.image-wrapper__flower(src="images/content/frontPicture.png")
          img.image-wrapper__small-flower(src="images/content/frontPicture2.png")
    .slide.third-slide
      .slide-wrapper
        div.text-wrapper
          div.text-wrapper__pre-title WELCOME TO GREENSHOP
          div.text-wrapper__title LET'S MAKE A BETTER
            span !{' '}HOME
          p.text-wrapper__paragraf We are an online plant shop offering a wide range of cheap and trendy plants. Use our plants to create an unique Urban Jungle. Order your favorite plants!
          button.primary-btn SHOP NOW
        div.image-wrapper
          img.image-wrapper__flower(src="images/content/frontPicture.png")
          img.image-wrapper__small-flower(src="images/content/frontPicture2.png")      
  .slider-navigation
    .count-of-sliders 
              
        
           