section.section-outer 
  .swiper-title Related Products
  .swiperRelated
    .swiper-wrapper 
      .swiper-slide
        .slot__wrapper
          a.slot__image-wrapper(href="#")
            img.slot__image(alt="Цветок Angel Wing Begonia", src="images/content/image2.png")
          a.slot__name(href="#") Angel Wing Begonia
          .slot__cost $37.00
      .swiper-slide
        .slot__wrapper
          a.slot__image-wrapper(href="#")
            img.slot__image(alt="Цветок Angel Wing Begonia", src="images/content/image2.png")
          a.slot__name(href="#") Angel Wing Begonia
          .slot__cost $37.00
      .swiper-slide
        .slot__wrapper
          a.slot__image-wrapper(href="#")
            img.slot__image(alt="Цветок Angel Wing Begonia", src="images/content/image2.png")
          a.slot__name(href="#") Angel Wing Begonia
          .slot__cost $37.00
      .swiper-slide
        .slot__wrapper
          a.slot__image-wrapper(href="#")
            img.slot__image(alt="Цветок Angel Wing Begonia", src="images/content/image2.png")
          a.slot__name(href="#") Angel Wing Begonia
          .slot__cost $37.00
      .swiper-slide
        .slot__wrapper
          a.slot__image-wrapper(href="#")
            img.slot__image(alt="Цветок Angel Wing Begonia", src="images/content/image2.png")
          a.slot__name(href="#") Angel Wing Begonia
          .slot__cost $37.00
    .swiper-pagination