doctype html
html

  include html/head
  
  body

    include html/header 
    
    main.page 
      include html/slider
      include html/section-shop
    include html/footer 
    
    script(src="js/app.min.js")