doctype html
html

  include html/head
  
  body

    include html/header 
    
    main.page 
      include html/slider
      include html/section-showcase
      include html/section-product-card
      include html/section-blog
    include html/footer 
    
  script(src="js/app.min.js")