doctype html
html

  include html/head
  
  body

    include html/header 
    include html/section-product-vie
    include html/swiper-related-product
    
    main.page 
      
    include html/footer 
    
  script(src="js/app.min.js")
