body {
  color: $color-primary-text;
  font-weight: $fw-regular;
  font-size: 16px;
  font-family: CeraPro, sans-serif;
}

.disable {
  position: absolute !important;
  visibility: hidden !important;
}

.active {
  &__burger-menu {
    visibility: visible !important;
    animation-name: inputOpen;
    animation-duration: 0.5s;
  }

  &__input-open {
    position: relative !important;
    visibility: visible !important;
    animation-name: inputOpen;
    animation-duration: 2s;
  }

  &__link {
    text-shadow: 0 0 0.9px $color-primary-text, 0 0 0.9px $color-primary-text;
    border-bottom: 3px solid $color-main;
  }

  &__slide {
    position: static !important;
    visibility: visible !important;
    animation-name: slide-animation;
    animation-duration: 2s;
  }

  &__icons-inner-img {
    visibility: visible !important;
    animation-name: iconsUp;
    animation-duration: 0.7s;
  }

  &__pagination {
    color: #fff;
    background: $color-main;
  }

  &__showcase-category {
    color: $color-main;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
  }

  &__showcase-sort {
    font-weight: 700;
    color: $color-main;
    padding-bottom: 4px;
    border-bottom: 2px solid $color-main;
  }
}

.btn {
  // Кнопка открытия инпута
  &__search-input-open {
    border: none;
    background-color: white;
    border-bottom: 3px solid #fff;
    cursor: pointer;
  }
  // кнопка поиска по запросу
  &__search-find-request {
    border: none;
    background-color: white;
    cursor: pointer;
  }

  &__market-cart {
    border: none;
    background-color: white;
    cursor: pointer;
    position: relative;
  }

  &__hamburger-menu {
    visibility: hidden;
    position: absolute;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: auto;
  }

  &__hamburger-exit {
    position: absolute;
    right: 30px;
    top: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
  }
}

.section-outer {
  max-width: 1200px;
  margin: 0 auto;
}
@keyframes slide-animation {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
}

h4 {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

.primary-btn {
  display: flex;
  align-items: center;
  height: 33px;
  padding: 0 17px;
  color: #fff;
  font-weight: $fw-medium;
  font-size: 16px;
  font-family: CeraPro;
  background-color: $color-main;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  border: 3px solid $color-main;

  &__text {
    padding-left: 3px;
  }

  &:hover {
    background-color: $color-hover;
    border: 3px solid $color-hover;
    transition: $transition;
  }
}
