.footer__inner {
  padding-top: 50px;
}

.subscribe {
  display: flex;
  background-color: #fbfbfb;
  border-bottom: 1px solid $color-main;

  &__cardWhy {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 205px;
    margin: 20px 0;
    padding: 0 23px;
    border-right: 1px solid rgb(70 163 88 / 10%);
  }

  &__title {
    padding-top: 27px;
    padding-bottom: 9px;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
  }

  &__paragraf {
    width: 204px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  &__background {
    position: absolute;
    bottom: 100px;
    left: 20px;
    width: 74px;
    height: 74px;
    background: rgb(70 163 88 / 13%);
    border-radius: 50%;
  }

  &__form-wrapper {
    width: 446px;
    margin: 20px 0;
    padding: 0 23px;
  }
}

.form-subscribe {
  position: relative;
  display: flex;

  &__title {
    padding-top: 27px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
  }

  &__input {
    width: 273px;
    height: 35px;
    padding-left: 10px;
    background-color: #fff;
    border: none;
    border: 2px solid #fff;
    border-radius: 4px;
  }

  &__text {
    padding-top: 17px;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
  }

  &__btn {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 37px;
    padding: 0 17px;
    color: #fff;
    font-weight: 500;
    font-weight: $fw-medium;
    font-size: 16px;
    font-family: CeraPro;
    background-color: $color-main;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.form-subscribe__input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.form-subscribe__input:focus {
  border: 1px solid $color-main;
}

.form-subscribe__input:active {
  border: 1px solid $color-main;
}

.our-contacts {
  display: flex;
  height: 88px;
  background: rgb(70 163 88 / 10%);

  &__card-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 205px;
    margin: 20px 0;
    padding: 0 23px;
  }

  &__text {
    width: 176px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}

.footer-menu {
  display: flex;
  height: 246px;
  background-color: #fbfbfb;
  border-top: 1px solid $color-main;

  &__list {
    width: 205px;
    margin: 20px 0;
    padding: 0 23px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-decoration: none;
  }

  &__href {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
  }

  &__socials {
    display: flex;
    justify-content: center;
  }

  &__socials-and-pay {
    width: 205px;
    margin: 20px 0;
    padding: 0 23px;
  }

  &__social-wrapper {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid rgb(70 163 88 / 20%);
    border-radius: 4px;
  }
}

.copyright-wrapper {
  display: flex;
  justify-content: center;
}
//============================================================
@media (max-width: 1200px) {
  .subscribe {
    display: flex;
    justify-content: center;

    &__cardWhy {
      visibility: hidden;
      position: absolute;
    }
  }
}
@media (max-width: 1030px) {
  .footer-menu {
    display: flex;
    height: 246px;
    background-color: #fbfbfb;
    border-top: 1px solid $color-main;

    &__list {
      width: 150px;
      margin: 10px 0;
      padding: 0 13px;
    }
  }
}
@media (max-width: 1030px) {
  .our-contacts {
    visibility: hidden;
    position: absolute;
  }
}
@media (max-width: 815px) {
  .footer-menu {
    justify-content: center;

    &__list {
      width: 150px;
      margin-top: 10px;
      padding: 0;
    }
  }

  .footer-menu__socials-and-pay {
    visibility: hidden;
    position: absolute;
  }
}
