.section-slider {
  position: relative;
  height: 450px;
  margin-top: 12px;
  background: linear-gradient(
    97.77deg,
    rgb(245 245 245 / 50%) -23.46%,
    rgb(245 245 245 / 50%) 107.51%
  );
}

.slide-wrapper {
  display: flex;
}

.slide {
  position: absolute;
  visibility: hidden;
}

.text-wrapper {
  width: 550px;
  padding-top: 68px;
  padding-left: 40px;

  &__pre-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  &__title {
    font-weight: 900;
    font-size: 70px;
    line-height: 70px;

    span {
      color: $color-main;
    }
  }

  &__paragraf {
    padding-bottom: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  &__paragraf-w605 {
    position: absolute;
    visibility: hidden;
  }
}

.image-wrapper {
  position: relative;

  &__flower {
    position: absolute;
    top: 20px;
    left: 100px;
    background-repeat: no-repeat;
  }

  &__small-flower {
    position: absolute;
    bottom: -60px;
    left: 140px;
    background-repeat: no-repeat;
  }
}

.count-of-sliders {
  position: absolute;
  right: 50%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 25px;
}

.dot {
  width: 8px;
  height: 8px;
  background: rgb(70 163 88 / 30%);
  border-radius: 50%;
}

.now-position {
  background-color: $color-main;
}
