.section-header__inner {

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: $padding-vertical-xs;
  border-bottom: 0.3px solid rgb(70 163 88 / 50%);
}

.menu {
  // visibility: hidden;
  // position: absolute;
  
  &__list {
    display: flex;
    margin-top: 7px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  &__list-item {
    z-index: 0;
    
    padding-bottom: 14px;
  }

  &__list-item + &__list-item {
    padding-left: 50px;
  }

  &__list-link {
    white-space: nowrap;
    padding-bottom: 25px;
    color: $color-primary-text;
    text-decoration: none;
    cursor: pointer;
  }

  &__list-link:hover {
    text-shadow: 0 0 0.9px $color-primary-text, 0 0 0.9px $color-primary-text;
  }
}

.icons {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;

  button + button {
    margin: 0 30px;
  }

  &__countOnMarketCart {
    position: absolute;
    right: 1px;
    bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;

    height: 13px;
    border: 2px solid #fff;
    border-radius: 100%;
    font-family: 'CeraPro';

    color: #fff;

    font-weight: 500;
    font-size: 10px;
    font-family: CeraPro;
    background: $color-main;
    border: 2px solid #fff;
    border-radius: 100%;
  }
}
.plants-search {
  &__wrapper {
    display: flex;
    position: absolute;
    visibility: hidden;
  }
  &__input {
    width: 190px;
    height: 45px;
    padding-left: 38px;
    padding-right: auto;
    border: none;
    border: 2px solid #fff;
    background: #F8F8F8;
    border-radius: 10px;
    &::placeholder {
      opacity: 0.7;
    }
  }
}

.btn__search-find-request {
  background: none;
  position: absolute;
  bottom:32px;
  left: 7px;
}

.hamburger-menu {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 380px;
  background-color: #F8F8F8;
  z-index: 5;
  &__icons {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #E2E7EB;
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &__wrapper {
    border-bottom: 1px solid #E2E7EB;
    margin: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    padding-left: 10px;
    padding-top: 15px;
  }
  &__list-item {
    padding-bottom: 25px;
  }
  &__list-link {
    font-size: 22px;
    color: $color-primary-text;
    text-decoration: none;
    cursor: pointer;
  }
  &__list-link:hover {
    text-shadow: 0 0 0.9px $color-primary-text, 0 0 0.9px $color-primary-text;
  }
}
.logo-mini {
  visibility: hidden;
}