.section-header__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: $padding-vertical-xs;
  @include divider;
}

.menu {
  display: block;

  &__list {
    display: flex;
  }

  &__list-item {
    z-index: 0;
    width: auto;
    padding-bottom: 30px;
  }

  &__list-item + &__list-item {
    padding-left: 50px;
  }

  &__list-link {
    padding-bottom: 25px;
    color: $color-primary-text;
    text-decoration: none;
    cursor: pointer;
  }

  &__list-link:hover {
    text-shadow: 0 0 0.9px $color-primary-text, 0 0 0.9px $color-primary-text;
  }
}

.icons {
  position: relative;
  display: flex;
  align-items: center;

  svg + svg {
    padding: 0 30px;
  }

  &__countOnMarketCart {
    position: absolute;
    right: 124px;
    bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    color: #fff;
    font-weight: 500;
    font-size: 10px;
    font-family: CeraPro;
    background: $color-main;
    border: 2px solid #fff;
    border-radius: 100%;
  }
}
